<template>
  <div class="hello">
    <h1 class="text-center">{{ msg }}</h1>

    <h2 style="margin-top: 100px;" class="text-center">Marked.js</h2>
    <h4>What store in DB</h4>
    <textarea style="width: 100%; min-height: 200px;" v-model="input"></textarea>
    <h4>What render on webpage</h4>
    <div id="content" style="border: 1px solid black; width: 100%; min-height: 200px;"></div>

    <h2 style="margin-top: 100px;" class="text-center">BBCode</h2>
    <h4>What store in DB</h4>
    <textarea style="width: 100%; min-height: 200px;" v-model="bbcodeInput"></textarea>
    <h4>What render on webpage</h4>
    <div style="border: 1px solid black; width: 100%; min-height: 200px;" v-html="bbcodeOutput"></div>
    
    <h2 style="margin-top: 100px;" class="text-center">sanitize-html</h2>
    <h4>Before sanitized</h4>
    <textarea style="width: 100%; min-height: 200px;" v-model="sanitizeInput"></textarea>
    <h4>After sanitized</h4>
    <div style="border: 1px solid black; width: 100%; min-height: 200px;">{{ sanitizeOutput }}</div>
    <button @click="createJsPdf">Generate JSPDF</button>
    <button @click="createPuppeteerPdf">Generate PuppeteerPdf</button>
    <button @click="openModal">Render HTML</button>

    <h2 style="margin-top: 200px;" class="text-center">Vue2Editor</h2>
    <vue-editor v-model="content"></vue-editor>
    <h4>What store in DB</h4>
    <textarea style="width: 100%; min-height: 200px;" v-model="content" disabled></textarea>
    <h4>What render on webpage</h4>
    <div class="ql-editor" style="border: 1px solid black;" v-html="content"></div>
    
    <h2 style="margin-top: 200px;" class="text-center">CKEditor5</h2>
    <ckeditor :editor="editor" v-model="editorData"></ckeditor>
    <h4>What store in DB</h4>
    <textarea style="width: 100%; min-height: 200px;" v-model="editorData" disabled></textarea>
    <h4>What render on webpage</h4>
    <div id="content2" style="border: 1px solid black; width: 100%; min-height: 200px;"></div>
    <p>{{ content2 }}</p>

    <div id="myModal" class="modal">
      <div class="modal-content">
        <div v-html="sanitizeOutput">
        </div>
        <button @click="closeModal">Close</button>
      </div>
    </div>
  </div>
</template>

<script>
import Vue from 'vue';
import axios from 'axios'

import { marked } from 'marked'
import { VueEditor } from "vue2-editor";
import DOMPurify from 'dompurify';
import CKEditor from '@ckeditor/ckeditor5-vue2';
import ClassicEditor from '@ckeditor/ckeditor5-build-classic';
// import bbCodeParser from 'js-bbcode-parser';
import yabbcode from 'ya-bbcode'
import sanitizeHtml from 'sanitize-html';
import { jsPDF } from 'jspdf'

Vue.use( CKEditor );
let parser = new yabbcode();

parser.registerTag('url', {
	type: 'replace',
	open: (attr) => {
		return `<a href="${attr || '#'}" style="padding-left: 20px;" rel="noopener norefer">`;
	},
	close: '</a>'
});

parser.registerTag('abc', {
	type: 'replace',
	open: (attr) => {
    if (attr === '1') return `<h1 style="text-align: center;">`;
    if (attr === '2') return `<h1 style="color: red;">`;
    if (attr === '3') return `<h1 style="padding-left: 40px;">`;
    return `<h1>`;
	},
	close: '</h1>'
});

export default {
  name: 'HelloWorld',
  components: { VueEditor },
  props: {
    msg: String
  },
  data () {
    return {
      input: '',
      content: '',
      editor: ClassicEditor,
      editorData: '',
      content2: '',
      bbcodeInput: '',
      bbcodeOutput: '',
      sanitizeInput: '',
      sanitizeOutput: '',
      sanitizeOption: {
        allowedTags: sanitizeHtml.defaults.allowedTags.concat([ 'img', 'style', 'meta', 'title' ]),
        allowedAttributes: {
          'a': [ 'href' ],
          'div': ['class'],
          'tr': ['class'],
          'td': ['colspan', 'class'],
          'table': ['cellpadding, cellspacing'],
          'img': ['src', 'style'],
          'span': ['style'],
          'p': ['style']
        }
      }
    }
  },
  watch: {
    async input (val) {
      const a = await marked.parse(val)
    document.getElementById('content').innerHTML = a
    },
    async bbcodeInput (val) {
      this.bbcodeOutput = parser.parse(val)
      // this.bbcodeOutput = bbCodeParser.parse(val)
    },
    async sanitizeInput (val) {
      this.sanitizeOutput = sanitizeHtml(val, this.sanitizeOption)
    }
  },
  computed: {
    purifyContent () {
      return DOMPurify.sanitize(this.content)
    }
  },
  async created () {
  },
  methods: {
    async createJsPdf () {
      const doc = new jsPDF({
        orientation: 'p',
        unit: 'mm',
        format: 'a4'
      });

      doc.html(this.sanitizeOutput, {
         callback: function (doc) {
           doc.save();
         },
         autoPaging: false,
         width: 100
      });
    },
    async createPuppeteerPdf () {
      await axios.post('http://localhost:3000/pdf', { content: this.sanitizeOutput })
      // var newBlob = new Blob(pdf.data, {type: "application/pdf"})
      // const data = window.URL.createObjectURL(pdf.data);
      var link = document.createElement('a');
      link.href = 'http://localhost:3000/invoice.pdf';
      link.target = '_blank'
      link.download="file.pdf";
      link.click();
    },
    openModal () {
      const modal = document.getElementById("myModal")
      modal.style.display = "block";
    },
    closeModal () {
      const modal = document.getElementById("myModal")
      modal.style.display = "none";
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
@import '../../node_modules/quill/dist/quill.core.css';

.hello {
  padding: 0 40px;
}
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
.text-center {
  text-align: center;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}
</style>
